<div fxLayout="row">
  <div fxFlex="5%">&nbsp;</div>
  <div fxFlex="90%">
    <div class="card" style="padding:10px">
      <div fxLayout="row">
        <div fxFlex style="text-align:center">
          <h3>Sri Meru Nilayam</h3>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="26%">
            <img src={{templeimage}}  class="rounded float-left" alt="Responsive image"/>
        </div>
        <div fxFlex>
          <p>test messages</p>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="5%">&nbsp;</div>

</div>