<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
  <div fxFlex="5%">&nbsp;</div>
  <div fxFlex="90%">
    <div class="card" style="padding:10px">
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
        <div fxFlex style="text-align:center">
          <h3>Sri Meru Nilayam</h3>
        </div>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
        <div fxFlex>
          <div class="card mb-3">
            <img class="card-img-top" src="{{templeimage}}" alt="Card image cap" style="height: 75vh;object-fit: fill;">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
              &nbsp;
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
              <div fxFlex="15%" style="color: white;
              background-color: #0A1F3C;">
                <div class="card-header">
                  SRI MERU NILAYAM

                </div>

              </div>
              <div fxFlex="85%" style="color: white;
              background-color: #FFB035;">
                <div class="card-header">
                  Sri Meru Nilayam is the only Sri Yantra in the world that one can actually walk into!
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">Devipuram's primary focus is the Sri Meru Nilayam , a unique three-dimensional projection of the sacred Hindu
                yantra known as Sri Chakra, which is central to Sri Vidya Upasana (an ancient and intricate form of Tantric
                Shakta worship). Measuring 108ft by 108 ft and 54 ft in height, the Sri Meru Nilayam is the only Sri Yantra
                in the world that one can actually walk into! This is the abode of Sri Sri Sri Sahasrakshi Raja Rajeswari
                Devi, the Moola Virat. She chose Guruji Sri Amritananda Natha Saraswathi to build this temple. The Sri Meru
                Nilayam is the only pace where one can see first hand the forms of all the Khadgamala deities, whose names
                are worshipped in the Khadgamala Stotram and whose intimate worship is fully described in the esoteric Sri
                Chakra Puja or Navavarana Puja. Devipuram is also home to a powerful Shaktipeetham- Kamakhya Guru peetham.
                She is worshipped here as the Universal source. This is a Swayambhu peetham and Guruji had the divine vision
                of the Mother at this placein 1983. The Panchabhootalingeswara temple housing 1365 Sivalingas at Dakshavati,
                the Ananda Bhairava Linga at the Rajarajeswara (Siva) temple , the Karya Siddhi Ganapati temple are all part
                of the Devipuram complex. Devipuram was built as per the wish of the Divine Mother and the secrets of Her
                worship revealed directly by Her to Guruji, subsequently simplified and made available to everyone irrespective
                of caste, creed, gender or faith.</p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">

        <div fxFlex>




        </div>
      </div>
    </div>
  </div>
  <div fxFlex="5%">&nbsp;</div>

</div>